<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|capfirst }}
        {% endblock %}
    </title>
    
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}

    {% block js %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>   
    {% endblock %}
</head>

<body>
	                   
    {% block menu %}
 
    {% endblock %}
    	

    {% block content %}

    {% endblock %}

    
    {% block footer %}

    <div class="footer">
        <p class="small">Все права защищены &copy; Andrew Ablezgov</p>               
        <p class="small">&copy; TopGames_KRD {% now "Y" %}</p>
        <div class="social">
            <a href="#" class="social1"></a>
            <a href="#" class="social2"></a>
            <a href="#" class="social3"></a>
            <a href="#" class="social4"></a>
        </div>
        
    </div>

    {% endblock %}
	
</body>
</html>