{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
<div class="Container">
        <div class="Header">
            <p class="Logo-black">Top Games KRD</p> 
			{% include 'mainapp/includes/inc_menu.html' %}
		</div>
</div>

{% endblock %}
		
	
{% block content %}
	
<div class="Delivery">
	<div class="hero">
		<h1>Доставка&nbsp;и&nbsp;оплата</h1>
		<p>сегодня: {{ visit_date|date:"l, j F, Y" }}</p>
	</div>
	<div class="location">
		{% for info in information %}
		<div class="location-1">
			
			<i class="fa fa-map-marker fa-5x"></i>
			<h4>{{ info.city }}</h4>
			<div class="contacts">
				<h5>Телефон:</h5>
				<p>{{ info.phone }}</p><br>
				<h5>Email:</h5>
				<p>{{ info.email }}</p><br>
				<h5>Адрес:</h5>
				<p>{{ info.address }}</p>
			</div>
		</div>
		{% endfor %}		
	</div>
</div>

{% endblock %}
