{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
<div class="Container">
        <div class="Header">
            <p class="Logo-black">Top Games KRD</p> 
			{% include 'mainapp/includes/inc_menu.html' %}
		</div>
</div>

{% endblock %}

{% block content %}

	<div class="GameHeader">
		<div class="left"> {{ product.name }}</div>
		<div class="right">Каталог >> Игры >> {{ product.name }}</div>
	</div>

	<div class="GameReview">

		<a href="{{ media_url }}{{ product.image }}" class="Gameimage-link"><img src = "{{ media_url }}{{ product.image }}" class="Gameimage"></a>
		
		<div>
			<p class="Game-H1">{{ product.name }}</p>
			<ul>
				<li><b>Издатель:</b> {{ product.publisher }}</li>
				<li><b>Разработчик:</b> {{ product.developer }}</li>
				<li><b>Дата выхода:</b> {{ product.released }}</li>
				<li><b>Платформа:</b> {{ product.platform }}</li>
				<li><b>Жанр:</b> {{ product.genre }}</li>
				<li><b>Язык:</b> {{ product.language }}</li>
				<li><b>Возрастной рейтинг:</b> {{ product.age }}</li>
			</ul>
			<p class="Game-H1">₽ {{ product.price }}</p>
			<a href="{% url 'basket:add' product.pk %}" class="GamePriceButton-link">Заказать</a>
		</div>
		<iframe class="Gamevideo" src="{{ product.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</div>

	<div class="GameFeatures">
        {{ product.description }} 
      </div>

      <div class="Describe">
        <table class="GameImages">
            <tr>
              <td class="GameImages-cells"><a href="{{ media_url }}{{ product.image01 }}"><img src = "{{ media_url }}{{ product.image01 }}"></a></td>
              <td class="GameImages-cells"><a href="{{ media_url }}{{ product.image02 }}"><img src = "{{ media_url }}{{ product.image02 }}"></a></td>
              <td class="GameImages-cells"><a href="{{ media_url }}{{ product.image03 }}"><img src = "{{ media_url }}{{ product.image03 }}"></a></td>
            </tr>
            <tr>
              <td class="GameImages-cells"><a href="{{ media_url }}{{ product.image04 }}"><img src = "{{ media_url }}{{ product.image04 }}"></a></td>
              <td class="GameImages-cells"><a href="{{ media_url }}{{ product.image05 }}"><img src = "{{ media_url }}{{ product.image05 }}"></a></td>
              <td class="GameImages-cells"><a href="{{ media_url }}{{ product.image06 }}"><img src = "{{ media_url }}{{ product.image06 }}"></a></td>
            </tr>
        </table>       
      </div>

	<div class="Catalog">
		<h2>Товары, похожие на этот</h2>
		{% for product in same_products %}
		<div class="product-wrap">
			<div class="product-item">
	    		<a href="{% url 'playstation:game' product.pk %}"><img src="{{ media_url }}{{ product.image }}" class="Catalog-image"></a>
	  		</div>
	  		<div class="product-title">
	    		<a href="{% url 'playstation:game' product.pk %}" class="product-title-link">{{ product.name }}</a>
	    		<span class="product-price">₽ {{ product.price}}</span>
	 		</div>
		</div>
		{% endfor %}
	</div>

{% endblock %}
