{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
<div class="Container">
        <div class="Header">
            <p class="Logo-black">Top Games KRD</p> 
			{% include 'mainapp/includes/inc_menu.html' %}
		</div>
</div>
{% endblock %}

{% block content %}

	<div class="details-products">
	    <div class="details-slider">
	        <div class="slider-product">
	          <a href="{% url 'playstation:game' hot_product.pk %}"><img src="/media/{{ hot_product.image }}"></a>
	        </div>  
	    </div>

	    <div class="description">
	        <h3 class="big-bold">{{ hot_product.name }}</h3>
	        <h3 class="yellow">горячее предложение</h3>
	        <p class="price">{{ hot_product.price }} <span>₽</span></p>
	        <a href="{% url 'basket:add' hot_product.pk %}" class="HotGamePriceButton-link">
	          заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
	        </a>
	        <div class="description-text">
	          {{ hot_product.description }} 
	        </div>
	    </div>	    
	</div>

	<div class="GameHeader">		
		<div class="left">{{ categories.0.name }}</div>
	</div>

	<div class="Catalog">
		{% for product in new_products %}
		<div class="product-wrap">
			<div class="product-item">
	    		<a href="{% url 'playstation:game' product.pk %}"><img src="{{ media_url }}{{ product.image }}" class="Catalog-image"></a>
	  		</div>
	  		<div class="product-title">
	    		<a href="{% url 'playstation:game' product.pk %}" class="product-title-link">{{ product.name }}</a>
	    		<span class="product-price">₽ {{ product.price}}</span>
	 		</div>
		</div>
		{% endfor %}
	</div>

	<div class="GameHeader">		
		<div class="left">{{ categories.1.name }}</div>
	</div>

	<div class="Catalog">
		{% for product in exclusive_products %}
		<div class="product-wrap">
			<div class="product-item">
	    		<a href="{% url 'playstation:game' product.pk %}"><img src="{{ media_url }}{{ product.image }}" class="Catalog-image"></a>
	  		</div>
	  		<div class="product-title">
	    		<a href="{% url 'playstation:game' product.pk %}" class="product-title-link">{{ product.name }}</a>
	    		<span class="product-price">₽ {{ product.price}}</span>
	 		</div>
		</div>
		{% endfor %}
	</div>

	<div class="GameHeader">		
		<div class="left">{{ categories.2.name }}</div>
	</div>

	<div class="Catalog">
		{% for product in cool_products %}
		<div class="product-wrap">
			<div class="product-item">
	    		<a href="{% url 'playstation:game' product.pk %}"><img src="{{ media_url }}{{ product.image }}" class="Catalog-image"></a>
	  		</div>
	  		<div class="product-title">
	    		<a href="{% url 'playstation:game' product.pk %}" class="product-title-link">{{ product.name }}</a>
	    		<span class="product-price">₽ {{ product.price}}</span>
	 		</div>
		</div>
		{% endfor %}
	</div>

	<div class="GameHeader">		
		<div class="left">{{ categories.3.name }}</div>
	</div>

	<div class="Catalog">
		{% for product in ubisoft_products %}
		<div class="product-wrap">
			<div class="product-item">
	    		<a href="{% url 'playstation:game' product.pk %}"><img src="{{ media_url }}{{ product.image }}" class="Catalog-image"></a>
	  		</div>
	  		<div class="product-title">
	    		<a href="{% url 'playstation:game' product.pk %}" class="product-title-link">{{ product.name }}</a>
	    		<span class="product-price">₽ {{ product.price}}</span>
	 		</div>
		</div>
		{% endfor %}
	</div>

	<div class="GameHeader">		
		<div class="left">{{ categories.4.name }}</div>
	</div>
	<div class="Catalog">
		{% for product in ea_products %}
		<div class="product-wrap">
			<div class="product-item">
	    		<a href="{% url 'playstation:game' product.pk %}"><img src="{{ media_url }}{{ product.image }}" class="Catalog-image"></a>
	  		</div>
	  		<div class="product-title">
	    		<a href="{% url 'playstation:game' product.pk %}" class="product-title-link">{{ product.name }}</a>
	    		<span class="product-price">₽ {{ product.price}}</span>
	 		</div>
		</div>
		{% endfor %}
	</div>	

{% endblock %}