<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|capfirst }}
        {% endblock %}
    </title>
    
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}

    {% block js %}   
    {% endblock %}
</head>

<body>
  <div class="admin_container">        
    <div class="admin_h2">Админ панель</div>
    {% block menu %}
        {% include 'adminapp/includes/inc_menu.html' %}
    {% endblock %}
           
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>