{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
   <button class="add_smth_new">
      <a href="{% url 'admin:user_create' %}">Добавить нового пользователя</a>
    </button><br>
  <div class="users_list">
   
    {% for object in object_list %}
      <div class="user_record {% if not object.is_active %}not_active{% endif %}">
        <img 
          src="/media/{{ object.avatar|default:'users_avatars/default.jpg' }}"
          alt="{{ object.username }}">
        <div class="user_button">
          <button>
            <a href="{% url 'admin:user_update' object.pk %}">редактировать</a>
          </button>
          <button>
            <a href="{% url 'admin:user_delete' object.pk %}">удалить</a>
          </button>
        </div>
        <div class="user_role">
          <p>Роль: <br> 
            {% if object.is_superuser %}
              администратор
            {% else %}
              пользователь
            {% endif %}
          </p>
        </div>
        <div class="user_name">
          Имя пользователя:<br>{{ object.username }}
          <p>
            {% if object.first_name %}
              <b>{{ object.first_name|title }}</b>
                {% if object.last_name %}
                  <p>{{ object.last_name|title }}</p>
                {% endif %}
            {% endif %}
          </p>
        </div>
        <div class="user_age">
          Возраст:<br>
          {{ object.age }} лет
        </div>
        <div class="user_email">
          Почта:<br>
          {{ object.email }}
        </div>
        <div class="user_lastlogin">
          Последний вход:<br>
          {{ object.last_login }}
        </div>
      </div>
    {% endfor%}
  </div>
{% endblock %}