{% load staticfiles %}

<ul class="Menu">
  <li class="Menu-list">
    <a href="{% url 'main' %}">
      Главная
    </a>
  </li>
  <li class="Menu-list">
    <a href="{% url 'admin:users' %}" 
       class="{% if request.resolver_match.url_name == 'users' %}Menu-link-active{% endif %}">
      Пользователи
    </a>
  </li>
  <li class="Menu-list">
    <a href="{% url 'admin:categories' %}" 
       class="{% if request.resolver_match.url_name == 'categories' or category.name %}Menu-link-active{% endif %}">
      {% if category %}
        Категория: <span>{{ category.name }}</span>
      {% else %}
        Категории
      {% endif %}
    </a>
  </li>
</ul>
